<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSBasic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5443CFB71E56C48A000BD8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5443CFD01E56C48A000BD8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5443CFDB1E56C48A000BD8C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
